@model DACN2.Models.Tour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muôn xóa ?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

     

        <dt>
            @Html.DisplayNameFor(model => model.SoCho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNguoiLon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNguoiLon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTreEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTreEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh3)
        </dd>

  

        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongChang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongChang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoiNhuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoiNhuan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
