@model DACN2.Models.LichTrinh

@{
    ViewBag.Title = "DeleteLichTrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Lịch trình</h2>

<h3>bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>LichTrinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLichTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLichTrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaLichTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaLichTrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaPhuongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhuongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDiaDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDiaDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaAnUong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaAnUong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
