@model DACN2.Models.PhuongTien

@{
    ViewBag.Title = "DeletePhuongTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn đã chắc chắn xóa ? </h3>
<div>
    <h4>PhuongTien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhuongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhuongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaPT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
