@model IEnumerable<DACN2.Models.DiaDiem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListDiaDiem</title>
</head>
<body>
    <p>
        @Html.ActionLink("Tạo mới thông tin địa điểm", "CreateDiaDiem")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDiaDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiPhiDD)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhiDD)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "EditDiaDiem", new { id=item.MaDiaDiem }) |
           
                @Html.ActionLink("Xóa", "DeleteDiaDiem", new { id=item.MaDiaDiem })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
