@model IEnumerable<DACN2.Models.HopDong>
@using DACN2.Models
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Đơn Hàng </h2>


<table class="table" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <tr>
        <th>
            Tên khách hàng

        </th>
        <th>
            Tên Tour

        </th>
        <th>
            Ngày Đặt
        </th>
        <th>
            So Cho
        </th>
        <th>
            NgayKhoiHanh

        </th>
        <th>
            NgayKetThuc

        </th>
        <th>
            Tổng Tiền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TenTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SoCho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>

            <td>
                @String.Format("{0:0,000}", item.TongTien) VND
            </td>

            <td>
            </td>
        </tr>
    }

</table>
